html,
body,
div,
h1,
h2,
ul,
li,
img,
nav,
form,
label,
input,
section,
article,
header,
p,
footer {
  margin: 0;
  padding: 0;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba6ff3+0,9215f2+100 */
  background: #ba6ff3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ba6ff3 0%, #9215f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ba6ff3 0%, #9215f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ba6ff3 0%, #9215f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba6ff3', endColorstr='#9215f2', GradientType=0);
  /* IE6-9 */
}
header {
  margin-bottom: 15px;
}
header #header-container #logo-container {
  float: left;
  padding: 25px 15px;
}
header #header-container #logo-container img {
  width: 290px;
  height: 65px;
}
header #header-container #reg-form-container {
  float: right;
  padding: 20px 40px 0 0;
  font-size: 13px;
}
header #header-container #reg-form-container label {
  color: white;
  margin: 8px;
}
header #header-container #reg-form-container input {
  margin: 3px;
  width: 120px;
  height: 15px;
  background-color: #B35EF3;
  border: 2px solid #8045AD;
  border-radius: 10px;
}
header #header-container #reg-form-container label:first-of-type {
  margin-left: 7px;
}
header #header-container #reg-form-container #btn-register {
  padding: 5px 10px;
  background-color: #B35EF3;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  border-top-color: #BB90DC;
  border-left-color: #BB90DC;
  border-right-color: #8736C4;
  border-bottom-color: #8736C4;
}
header #header-container:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}
header #main-nav-list {
  margin-left: 30px;
  padding: 10px 20px;
  width: 74%;
  list-style-type: none;
  border: 2px solid #551A83;
  border-radius: 15px;
}
header #main-nav-list > li {
  display: inline-block;
  margin-right: 15px;
  font-size: 17px;
}
header #main-nav-list > li a {
  color: #FAF5FE;
  text-decoration: none;
}
header #main-nav-list > li .sub-nav-list {
  display: none;
}
section {
  padding-top: 5px;
  float: left;
  width: 75%;
}
section article {
  margin: 15px;
  padding: 5px 15px;
  border: 2px solid #551A83;
  border-radius: 15px;
}
section article h1 {
  margin: 10px 0 5px 5px;
  font-size: 17px;
  color: white;
}
section article p {
  color: #E9E3FE;
  font-size: 12px;
}
section article footer {
  text-align: right;
}
section article footer p {
  font-size: 13px;
}
section article footer p a {
  text-decoration: none;
  color: #CB8BF7;
}
aside {
  padding-top: 25px;
  float: left;
  width: 24%;
}
aside > ul {
  list-style-type: none;
  color: #E5D0FD;
}
aside > ul > li {
  margin: 10px 10px 10px 30px;
  padding: 10px 25px 20px 10px;
  margin-bottom: 15px;
  font-size: 12px;
  border: 2px solid #3D0965;
  border-radius: 5px;
}
aside > ul > li h2 {
  margin-bottom: 15px;
  color: white;
}
aside > ul > li ul {
  list-style-type: none;
}
aside > ul > li ul li {
  padding-left: 35px;
  text-align: justify;
  background: url('../images/li-dot.png') no-repeat;
  background-position: 3px 2px;
}
aside > ul a {
  text-decoration: none;
  color: #CB8BF7;
}
footer {
  padding: 10px;
  clear: both;
  text-align: center;
  color: white;
}
